/***** FONTS *****/
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/BebasNeue.otf);
}
/***** END FONTS *****/


/***** BASE *****/
body {
	margin: 0;
	padding: 0;
}

h1 {
	color: #fff;
	font-family: "Droid Serif", serif;
	font-size: 38px;
}

h2 {
	color: #fff;
	font-family: "Caviar Dreams";
	font-style: 36px;
}

.section-title {
	color: red;
	font-family: "Bebas Neue";
	font-size: 36;
}

.section-title + p {
	color: orange;
	font-family: "Caviar Dreams";
	font-style: 26px;
}
/***** END BASE *****/


/***** LAYOUT *****/
header,
.footer,
section
{
	padding: 60px 6%;
	width: 100%;
}

header {
	background-color: #d8302d;
}

.header {
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-area {
	background: url(../img/main-bg.jpg) center no-repeat;
	background-size: cover;
	height: 554px;
}

.projects {
	background: url(../img/projects-bg.png);
}

.testimonials {
	background-color: #d8302d;
}

.contact {
	background: url(../img/contact-bg.png);
}

.footer {
	background-color: #05748c;
}

/***** END LAYOUT *****/


/***** COMPONENTS *****/
.top-navigation {
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 15px;
}

.top-navigation ul {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
}

.top-navigation li {
	display: inline-block;
	-list-style-type: none;
}

.top-navigation a {
	color: #fff;
	font-family: "Lato";
	font-size: 18px;
	margin-right: 32px;
	text-decoration: none;

}

.profile-picture {
	border-radius: 50%;
	margin-bottom: 20px;
}


/* SOCIAL LINKS */
.social {
	padding-top: 30px;
}

.social a {
	color: #fff;
	font-size: 22px;
	text-decoration: none;
}

.social-twitter:before,
.social-github:before,
.social-fcc:before {
	content: ' ';
	display: inline-block;
	height: 50px;
	margin-right: 14px;
	vertical-align: -16px;
	width: 50px;

}

.social-github:before {
	background-image: url(../img/github-icon.png);
}

.social-fcc:before {
	background-image: url(../img/fcc-icon.png);
	height: 45px;
	vertical-align: -12px;
	width: 66px;
}

.social-twitter:before {
	background-image: url(../img/twitter-icon.png);
}


/* END SOCIAL LINKS */

/***** END COMPONENTS *****/
